<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>836200941632-os6ap40i6527k6t8pekpf8tld41ec989.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836200941632-os6ap40i6527k6t8pekpf8tld41ec989</string>
	<key>API_KEY</key>
	<string>AIzaSyA4IRs7Iv4adnaqnkNme0DQ8RJfB7tgyLw</string>
	<key>GCM_SENDER_ID</key>
	<string>836200941632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creativelogics.randmath</string>
	<key>PROJECT_ID</key>
	<string>randmath-1272</string>
	<key>STORAGE_BUCKET</key>
	<string>randmath-1272.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:836200941632:ios:66bd5e637cf9d58d</string>
	<key>DATABASE_URL</key>
	<string>https://randmath-1272.firebaseio.com</string>
</dict>
</plist>